/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  width: 100%;
  background-repeat: no-repeat;
}

a{
  color: rgb(66, 26, 2);
  text-decoration: none;
}

.headLine{
  font-size: 10rem;
  font-weight: 200;
  text-align: center;
}

.contentBox{
  padding-left: 8%;
  width: 100%;
}


/* ****************************************
NAV
******************************************* */
nav{
  position: fixed;
  height: 100vh;
  width: 8%;
  background-color: rgb(168, 56, 56);
  border-right: 3px solid rgb(221, 170, 107);
  font-variant: small-caps;
  font-size: 2rem;
  z-index: 5;
}
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
nav li{
  text-align: center;
  padding: 1rem .2rem;
}
li:first-child{
  margin-top: -4rem;
}

a:hover{
  color: rgb(207, 163, 105);
  text-decoration: underline;
}

@media screen and (max-width: 1670px) {
  nav{
    font-size: 1.8rem;
  }
}
/******************************************
/* LAYOUT
/*******************************************/




footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

main{
  background-image: url(https://images.pexels.com/photos/358532/pexels-photo-358532.jpeg);
  background-size: cover;
  height: 100vh;
}
h1{
  color: rgb(207, 163, 105);
  width: 75%;
  margin: 0 auto;
  padding: 0 5rem;
  background-color: rgba(5, 28, 15, 0.844);
  border-radius: 45%;
  line-height: 25rem;
  height: 25rem;
  position: relative;
  top: -190px;
  z-index: 5;
}


/* *****************************************
GALLERY
******************************************** */
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
  align-content: center;
  width: 100%;
  padding: 0 20rem 0 20rem;
}

.gallery img{
  padding: .2rem;
  border: 3px solid rgb(207, 163, 105);
  border-radius: 5%;
  width: 30%;
}
.secondRow{
  position: relative;
  top: -250px;
  height: 40rem;
}
#iOne{
  position: relative;
  top: -140px;
  left: 40px;
  z-index: 4;
}
#iTwo{
  position: relative;
  top: 40px;
}
#iThree{
  position: relative;
  top: -110px;
  left: -40px;
}
#iFour{
  position: relative;
  top: -120px;
  left: 80px;
}
#iFive{
  position: relative;
  top: -100px;
  left: 20px;
  z-index: 4;
}
#iSix{
  position: relative;
  top: -270px;
  left: -20px;
}

@media screen and (max-width: 1670px) {
    .gallery{
      padding: 0 15rem;
    }
}

@media screen and (max-width: 1470px) {
  .gallery{
    padding: 0 5rem;
  }
}

@media screen and (max-width: 1280px) {
  .gallery{
    padding: 4rem 2rem 0 2rem;
  }
  .headLine{
    font-size: 7rem;
  }
  h1{
    height: 17rem;
    line-height: 17rem;
  }
  #iTwo{
    top: -20px;
  }
  #iSix{
    top: -170px;
  }
}

@media screen and (max-width: 1024px) {
  .gallery{
    padding: 8rem 2rem 0 2rem;
  }
  #iTwo{
    top: -20px;
  }
  #iSix{
    top: -60px;
  }
  #iFive{
    top: -120px;
  }
  #iFour{
    top: -30px;
    left: 40px;
  }
  h1{
    top: -90px;
    height: 15rem;
    line-height: 15rem;
  }
  .headLine{
    font-size: 6rem;
  }
 
}

@media screen and (max-width: 768px) {
  .headLine{
    font-size: 4rem;
  }
  h1{
    top: -150px;
    padding: 0;
    height: 10rem;
    line-height: 10rem;
  }
  .gallery{
    padding: 12rem 1rem 0 1rem;
  }
}